{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load imagestore_tags %}
{% block galleery_class %}class="active"{% endblock %}
{% block content %}
				<div class="wrap-holder">
					<div id="content">
						<h1>Объекты</h1>
						<div class="container">
							<h2>{{ album.name }}</h2>
							<p>{{ album.brief }}</p>
							<div class="image-list">
                {% for image in image_list %}
                {% thumbnail image.image "120x120" crop="center" as im %}
								<div class="item">
                  <a class="fancybox-thumb" rel="gallery1" href="{{ image.image.url }}">
                    <img src="{{ im.url }}" alt="image description" />
                  </a></div>
                {% endthumbnail %}
                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endblock %}