{% load staticfiles %}
{% load chunks %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Оргкровля и К</title>
	<link media="all" rel="stylesheet" href="{% static 'css/all.css' %}">
	<link rel="stylesheet" href="{% static 'js/fancyBox/source/jquery.fancybox.css' %}" media="screen">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="{% static 'js/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
	<script  src="{% static 'js/fancyBox/source/jquery.fancybox.js' %}"></script>
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div id="wrapper">
		<div class="w1">
			<header id="header">
				<div class="wrap-holder">
					<strong class="logo"><a href="{% url 'index' %}">Оргкровля и К</a></strong>
					<nav id="nav">
						<a href="#" class="opener js-opener">open menu</a>
						<ul>
							<li {% block index_class %}{% endblock %}><a  href="{% url 'index' %}">Главная</a></li>
							<li {% block articles_class %}{% endblock %}><a href="{% url 'articles' %}">Статьи</a></li>
							<li {% block galleery_class %}{% endblock %}><a href="/gallery/">Объекты</a></li>
							<li {% block contact_class %}{% endblock %}><a href="{% url 'contact' %}">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<main id="main">
				{% block content %}
        {% endblock %}
			</main>
		</div>
		<footer id="footer">
			<div class="f1">
				<div class="f2">
					<div class="nav-holder">
						<ul class="navigation">
							<li><a href="{% url 'index' %}">Главная</a></li>
							<li><a href="{% url 'articles' %}">Статьи</a></li>
							<li><a href="/gallery/">Объекты</a></li>
							<li><a href="{% url 'contact' %}">Контакты</a></li>
						</ul>
					</div>
					<div class="contact-holder">
						<ul class="contact-list">
							<li class="address"><address>{% chunk 'address' %}</address></li>
							<li class="phone">{% chunk "phone" %}</li>
							<li class="mail"><a href="mailto:{% chunk 'email' %}">{% chunk 'email' %}</a></li>
						</ul>
					</div>
					<div class="bottom-footer"><div class="wrap-holder">Все права защищены &copy; 2014 www.orgkrovliya.com</div></div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>
