{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
				<div class="wrap-holder">
					<div id="content">
						<h1>Контакты</h1>
						<section class="block-list">
							<div class="block">
								<h1>ООО “Оргкровля и К”</h1>
								<p>”МФО 306340 <br />ОКПО 32052175 <br />р/с 26002301294 в Левобережном ВОБ № 8420 <br />Свидетельство № 04</p>
							</div>
							<div class="block">
								<h2>Главный офис</h2>
								<address>г. Днепропетрвоск <br />ул. Автопарковая, 1г <br />тел.:+38 (0562) 366 834 <br /><a href="mailto:&#111;&#114;&#107;&#114;&#111;&#118;&#108;&#121;&#097;&#064;&#105;&#046;&#117;&#097;">&#111;&#114;&#107;&#114;&#111;&#118;&#108;&#121;&#097;&#064;&#105;&#046;&#117;&#097;</a> </address>
							</div>
							<div class="block">
								<h2>Харьковский филиал</h2>
								<p>г.Харьков <br />тел.:+38 (057) 751 3889; +38 (057) 762 8215 <br /><a href="mailto:&#115;&#111;&#107;&#117;&#115;&#104;&#101;&#118;&#064;&#111;&#114;&#107;&#114;&#111;&#118;&#108;&#121;&#097;&#046;&#099;&#111;&#109;">&#115;&#111;&#107;&#117;&#115;&#104;&#101;&#118;&#064;&#111;&#114;&#107;&#114;&#111;&#118;&#108;&#121;&#097;&#046;&#099;&#111;&#109;</a></p>
							</div>
						</section>
					</div>
        </div>

       {% endblock %}
