{% extends "base.html" %}
{% load staticfiles %}
{% block contact_class %}class="active"{% endblock %}
{% block content %}
				<div class="wrap-holder">
					<div id="content">
						<h1>Контакты</h1>
						<section class="block-list">
              {% for contact in object_list %}
							<div class="block">
								<h1>{{ contact.tittle }}</h1>
								<p>{{ contact.content|safe }}</p>
							</div>
              {% endfor %}
						</section>
					</div>
        </div>

       {% endblock %}
