{% extends "base.html" %}
{% load staticfiles %}
{% block index_class %} class="active" {% endblock %}
{% block content %}
				<div class="main-banner">
					<div class="contact-block">
						<div class="frame">
							<ul>
                <li class="phone">{% for phone in our_data.phones %}
								{{ phone.name }}<br>
                {% endfor %}
                </li>
                <li class="mail">{% for email in our_data.emails %}
								<a href="mailto:{{ email.name }}">{{ email.name }}</a><br>
                {% endfor %}</li>
                <li class="address">{% for address in our_data.addresses %}
								<address>{{ address.name }}</address>
                {% endfor %}</li>
							</ul>
						</div>
						<a href="/gallery/" class="button">наши объекты</a>
					</div>
					<div class="carousel">
						<div class="owl-carousel">
              {% for item in object_list %}
							<div class="item">
								<img class="image-carusel" src="{{ item.image.url }}" alt="" />
								<span class="title">{{ item.tittle }} </span>
							</div>
              {% endfor %}
						</div>
					</div>
				</div>
				<div class="wrap-holder">
					<div id="content">
						<section class="block-list">
              {% for item in index_content %}
							<div class="block">
								<h1>{{ item.tittle }}</h1>
								<p>{{ item.content|safe }}</p>
							</div>
              {% endfor %}
						</section>
					</div>
				</div>
			{% endblock %}