{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
				<div class="wrap-holder">
					<div id="content">
						<h1>Объекты</h1>
						<div class="container">
							<h2>СРЦ парк Горького 2.07.2012г.</h2>
							<p>Ремонт кровли, а именно покрытие старой рубероидной кровли мембраной.</p>
							<div class="image-list">
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="{% static 'images/img-12.jpg' %}"><img src="{% static 'images/img-12.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="{% static 'images/img-13.jpg' %}"><img src="{% static 'images/img-13.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-14.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-15.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-16.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-17.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-18.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-19.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-20.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-21.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-22.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-23.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-24.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-25.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-26.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-27.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-28.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-29.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-30.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-31.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-32.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-36.jpg"><img src="{% static 'images/img-33.jpg' %}" alt="image description" /></a></div>
								<div class="item"><a class="fancybox-thumb" rel="gallery1" href="images/img-35.jpg"><img src="{% static 'images/img-34.jpg' %}" alt="image description" /></a></div>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}